<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.profilesetting">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROFILESETTING"
        tools:targetApi="31">

        <activity android:name=" .MainActivity"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityCreateProfile">
        </activity>
         <activity android:name=".MainActivityEdit" ></activity>  
        <activity android:name=".MainActivityInviteFriends"></activity>
        <activity android:name=".MainActivityNotification"></activity>
        <activity android:name=".MainActivitySecurity"></activity>

    </application>

</manifest>
